.box-pai {
    display: flex;
    flex-direction: column;
}

.box {
    border: 1px solid #ff0000;
    height: 10vh;
    margin: 2vh 2vw;
}

/*box-child-2*/
.box-child-2 {
    display: flex;
    padding: 1vh 1vw;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20vh;
}

.box-child-2 .box-1 {
    border: 1px solid #ff0000;
    margin: 1vh 2vw;
}

.box-child-5 {
    flex-grow: 1;
}

.box-child-6 {
    flex-grow: 5;
}

/*box-child-2*/

/*box-child-3*/
.box-child-3 {
    display: flex;
    padding: 1vh 1vw;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
}

.box-child-3 .box-1 {
    border: 1px solid #ff0000;
    margin: 2vh 2vw;
    width: 20vw;
}

/*box-child-3*/
.box-child-4 {
    height: 15vh;
}